Node-RED/.RC-Car-Flow.json.backup
[{"id":"305e3ee0.52f32a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ff97ce36.0ca25","type":"ui_group","z":"","name":"Steuerung","tab":"22ef43fd.56a55c","order":1,"disp":true,"width":"8","collapse":false},{"id":"312a7fe2.10cf1","type":"ui_group","z":"","name":"Akku","tab":"22ef43fd.56a55c","order":2,"disp":true,"width":"6","collapse":false},{"id":"e3773acd.2f1908","type":"ui_group","z":"","name":"Sensoren","tab":"22ef43fd.56a55c","order":4,"disp":true,"width":"12","collapse":false},{"id":"22ef43fd.56a55c","type":"ui_tab","z":"","name":"Smart RC-Car","icon":"dashboard"},{"id":"28745a7.de7e626","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8ffa9a70.129278","type":"ui_group","z":"","name":"Kamera","tab":"22ef43fd.56a55c","order":3,"disp":true,"width":"12","collapse":false},{"id":"4a7e4fc9.d9e158","type":"template","z":"305e3ee0.52f32a","name":"subscribe Sensor","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/SRCCP//#<cmd><name>subscribe</name><type>data</type><sensor interval = \"1\">{{payload}}</sensor></cmd>#/","output":"str","x":330,"y":200,"wires":[["1584008d.d11527"]]},{"id":"bb8506b0.f091a8","type":"inject","z":"305e3ee0.52f32a","name":"","topic":"","payload":"Batt.-Voltage","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"3","x":90,"y":40,"wires":[["4a7e4fc9.d9e158"]]},{"id":"1584008d.d11527","type":"function","z":"305e3ee0.52f32a","name":"calculateLength","func":"var len = msg.payload.length\nmsg.len1 = String.fromCharCode((len/256|0) % 256);\nmsg.len2 = String.fromCharCode(len % 256);\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":360,"wires":[["c18d467c.c8c91"]]},{"id":"c18d467c.c8c91","type":"template","z":"305e3ee0.52f32a","name":"addFraming","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{len1}}{{len2}}{{{payload}}}","output":"str","x":690,"y":360,"wires":[["e29086d7.ac962"]]},{"id":"e29086d7.ac962","type":"tcp request","z":"305e3ee0.52f32a","server":"127.0.0.1","port":"8889","out":"sit","splitc":" ","name":"RC-Car-Socket","x":880,"y":360,"wires":[["b8fb0e46.7bccc"]]},{"id":"617d1b90.7bc9d4","type":"function","z":"305e3ee0.52f32a","name":"extract XML","func":"var packet = msg.payload.toString();\n\nif (packet.search(\"/SRCCP/\") >= 0)\n{\n    start = packet.search(\"/#\") + 2;\n    var xml = packet.slice(start);\n    msg.payload = xml;\n    return msg;\n}","outputs":1,"noerr":0,"x":750,"y":720,"wires":[["4bf7e34e.9accdc"]]},{"id":"9266bfc.b454bc","type":"inject","z":"305e3ee0.52f32a","name":"","topic":"","payload":"Batt.-Current","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"4","x":100,"y":80,"wires":[["4a7e4fc9.d9e158"]]},{"id":"c01b073c.9699","type":"inject","z":"305e3ee0.52f32a","name":"","topic":"","payload":"Batt.-Charge","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"5","x":90,"y":120,"wires":[["4a7e4fc9.d9e158"]]},{"id":"b8fb0e46.7bccc","type":"split","z":"305e3ee0.52f32a","name":"","splt":"#/","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":720,"wires":[["617d1b90.7bc9d4"]]},{"id":"4bf7e34e.9accdc","type":"xml","z":"305e3ee0.52f32a","name":"decode XML","property":"payload","attr":"","chr":"","x":910,"y":720,"wires":[["cc70416d.e8af6"]]},{"id":"b9339abd.21e02","type":"switch","z":"305e3ee0.52f32a","name":"switch sensordata / alert","property":"payload.msg.name[0]","propertyType":"msg","rules":[{"t":"eq","v":"sensordata","vt":"str"},{"t":"eq","v":"alert","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1450,"y":400,"wires":[["d2f13cc7.0e6c2"],["161c174d.79c3e1"]]},{"id":"d2f13cc7.0e6c2","type":"switch","z":"305e3ee0.52f32a","name":"switch Sensors","property":"payload.msg.sensor[0]","propertyType":"msg","rules":[{"t":"eq","v":"Distance Front","vt":"str"},{"t":"eq","v":"Distance Rear","vt":"str"},{"t":"eq","v":"Luftdruck","vt":"str"},{"t":"eq","v":"Aussen-Temp","vt":"str"},{"t":"eq","v":"Motor-Temp.","vt":"str"},{"t":"eq","v":"Luftfeuchtigkeit","vt":"str"},{"t":"eq","v":"Batt.-Charge","vt":"str"},{"t":"eq","v":"Batt.-Voltage","vt":"str"},{"t":"eq","v":"Batt.-Current","vt":"str"},{"t":"eq","v":"Motor-Speed","vt":"str"},{"t":"eq","v":"Lenk-Position","vt":"str"},{"t":"eq","v":"IP-Address","vt":"str"}],"checkall":"true","repair":false,"outputs":12,"x":1700,"y":260,"wires":[["b08136e2.23ca3"],["e56799a4.9171e8"],["58e16994.032ae"],["f0268d20.437fd8"],["1c426cfb.3cc8e3"],["3c174571.0431c2"],["a527b896.829e8"],["876243bb.f127a"],["2eb50451.2c5aa4"],["33a1e353.e2cf9c"],["a0f242b1.f7de18"],["3fd8bf70.c3121"]]},{"id":"3c174571.0431c2","type":"change","z":"305e3ee0.52f32a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.msg.data[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1960,"y":260,"wires":[["d812c59e.ef7168"]]},{"id":"18ee5862.f7603","type":"inject","z":"305e3ee0.52f32a","name":"","topic":"","payload":"Distance Front","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"6","x":100,"y":160,"wires":[["4a7e4fc9.d9e158"]]},{"id":"4ce4584b.90be38","type":"inject","z":"305e3ee0.52f32a","name":"","topic":"","payload":"Distance Rear","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"7","x":100,"y":200,"wires":[["4a7e4fc9.d9e158"]]},{"id":"8362c32b.ba8ed","type":"inject","z":"305e3ee0.52f32a","name":"","topic":"","payload":"Motor-Temp.","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"8","x":90,"y":240,"wires":[["4a7e4fc9.d9e158"]]},{"id":"1c348e6f.a6894a","type":"inject","z":"305e3ee0.52f32a","name":"","topic":"","payload":"Aussen-Temp","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"9","x":100,"y":280,"wires":[["4a7e4fc9.d9e158"]]},{"id":"efcd64f.ab79898","type":"inject","z":"305e3ee0.52f32a","name":"","topic":"","payload":"Luftfeuchtigkeit","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"10","x":100,"y":320,"wires":[["4a7e4fc9.d9e158"]]},{"id":"268979d7.2e5236","type":"inject","z":"305e3ee0.52f32a","name":"","topic":"","payload":"Luftdruck","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"11","x":80,"y":360,"wires":[["4a7e4fc9.d9e158"]]},{"id":"3beac6ee.6a5972","type":"template","z":"305e3ee0.52f32a","name":"drive","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/SRCCP//#<cmd><name>drive</name><speed>{{payload}}</speed></cmd>#/","output":"str","x":230,"y":780,"wires":[["1584008d.d11527"]]},{"id":"1c426cfb.3cc8e3","type":"change","z":"305e3ee0.52f32a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.msg.data[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1960,"y":220,"wires":[["74064299.165fb4"]]},{"id":"f0268d20.437fd8","type":"change","z":"305e3ee0.52f32a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.msg.data[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1960,"y":180,"wires":[["162b8cfe.4c3d93"]]},{"id":"58e16994.032ae","type":"change","z":"305e3ee0.52f32a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.msg.data[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1960,"y":140,"wires":[["c15ed23f.a1d458"]]},{"id":"a527b896.829e8","type":"change","z":"305e3ee0.52f32a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.msg.data[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1960,"y":300,"wires":[["461ae383.9003ac"]]},{"id":"876243bb.f127a","type":"change","z":"305e3ee0.52f32a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.msg.data[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1960,"y":340,"wires":[["18cb631c.065325"]]},{"id":"2eb50451.2c5aa4","type":"change","z":"305e3ee0.52f32a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.msg.data[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1960,"y":380,"wires":[["160f0abd.17b125"]]},{"id":"e56799a4.9171e8","type":"change","z":"305e3ee0.52f32a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.msg.data[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1960,"y":100,"wires":[["3f4ec629.bc354a"]]},{"id":"b08136e2.23ca3","type":"change","z":"305e3ee0.52f32a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.msg.data[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1960,"y":60,"wires":[["a748f04b.1bd988"]]},{"id":"85a6f088.b482e8","type":"inject","z":"305e3ee0.52f32a","name":"","topic":"","payload":"Motor-Speed","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"12","x":100,"y":400,"wires":[["4a7e4fc9.d9e158"]]},{"id":"fe26aada.7d8d68","type":"inject","z":"305e3ee0.52f32a","name":"","topic":"","payload":"Lenk-Position","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"13","x":100,"y":440,"wires":[["4a7e4fc9.d9e158"]]},{"id":"33a1e353.e2cf9c","type":"change","z":"305e3ee0.52f32a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.msg.data[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1960,"y":420,"wires":[["bbef2df4.3271d8"]]},{"id":"a0f242b1.f7de18","type":"change","z":"305e3ee0.52f32a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.msg.data[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1960,"y":460,"wires":[["4464e1d2.16f6f8"]]},{"id":"11a175fc.08e67a","type":"template","z":"305e3ee0.52f32a","name":"steer","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/SRCCP//#<cmd><name>steer</name><angle>{{payload}}</angle></cmd>#/","output":"str","x":230,"y":740,"wires":[["1584008d.d11527"]]},{"id":"8c087672.18e9","type":"inject","z":"305e3ee0.52f32a","name":"connect","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"2","x":620,"y":260,"wires":[["e29086d7.ac962"]]},{"id":"161c174d.79c3e1","type":"change","z":"305e3ee0.52f32a","name":"","rules":[{"t":"set","p":"message","pt":"msg","to":"payload.msg.message[0]","tot":"msg"},{"t":"set","p":"sensor","pt":"msg","to":"payload.msg.sensor[0]","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":560,"wires":[["42f3c1b4.5e8728"]]},{"id":"e741ddac.bc9968","type":"template","z":"305e3ee0.52f32a","name":"enable/disable IR-LED","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/SRCCP//#<cmd><name>irled</name><value>{{payload}}</value></cmd>#/","output":"str","x":280,"y":860,"wires":[["1584008d.d11527"]]},{"id":"5121cd4a.1373dc","type":"ui_button","z":"305e3ee0.52f32a","name":"","group":"ff97ce36.0ca25","order":3,"width":0,"height":0,"passthru":false,"label":"Brake","color":"","bgcolor":"","icon":"","payload":"/SRCCP//#<cmd><name>brake</name></cmd>#/","payloadType":"str","topic":"","x":50,"y":700,"wires":[["1584008d.d11527"]]},{"id":"5d86d9dd.9eedc8","type":"ui_switch","z":"305e3ee0.52f32a","name":"","label":"IR-LED","group":"ff97ce36.0ca25","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":60,"y":860,"wires":[["e741ddac.bc9968"]]},{"id":"ff0c076b.64e268","type":"ui_slider","z":"305e3ee0.52f32a","name":"","label":"Geschwindigkeit","group":"ff97ce36.0ca25","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":"-100","max":"100","step":"10","x":80,"y":780,"wires":[["3beac6ee.6a5972"]]},{"id":"583d46c5.2ac248","type":"ui_slider","z":"305e3ee0.52f32a","name":"","label":"Lenkung","group":"ff97ce36.0ca25","order":1,"width":0,"height":0,"passthru":true,"topic":"","min":"0","max":"100","step":"10","x":60,"y":740,"wires":[["11a175fc.08e67a"]]},{"id":"4464e1d2.16f6f8","type":"ui_gauge","z":"305e3ee0.52f32a","name":"","group":"ff97ce36.0ca25","order":4,"width":0,"height":0,"gtype":"gage","title":"Lenk-Position","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2160,"y":460,"wires":[]},{"id":"bbef2df4.3271d8","type":"ui_gauge","z":"305e3ee0.52f32a","name":"","group":"ff97ce36.0ca25","order":5,"width":0,"height":0,"gtype":"gage","title":"Motor Geschwindigkeit","label":"units","format":"{{value}}","min":"-100","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2180,"y":420,"wires":[]},{"id":"461ae383.9003ac","type":"ui_gauge","z":"305e3ee0.52f32a","name":"","group":"312a7fe2.10cf1","order":4,"width":0,"height":0,"gtype":"wave","title":"Ladung","label":"mAh","format":"{{value}}","min":0,"max":"4800","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2140,"y":300,"wires":[]},{"id":"18cb631c.065325","type":"ui_gauge","z":"305e3ee0.52f32a","name":"","group":"312a7fe2.10cf1","order":4,"width":0,"height":0,"gtype":"wave","title":"Spannung","label":"V","format":"{{value}}","min":"9","max":"13","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2150,"y":340,"wires":[]},{"id":"160f0abd.17b125","type":"ui_gauge","z":"305e3ee0.52f32a","name":"","group":"312a7fe2.10cf1","order":4,"width":0,"height":0,"gtype":"gage","title":"Strom","label":"A","format":"{{value}}","min":"-5","max":"1.5","colors":["#b50000","#e6e600","#38ca4d"],"seg1":"-2","seg2":"0","x":2130,"y":380,"wires":[]},{"id":"c15ed23f.a1d458","type":"ui_chart","z":"305e3ee0.52f32a","name":"","group":"e3773acd.2f1908","order":5,"width":0,"height":0,"label":"Luftdruck","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":2140,"y":140,"wires":[[],[]]},{"id":"162b8cfe.4c3d93","type":"ui_chart","z":"305e3ee0.52f32a","name":"","group":"e3773acd.2f1908","order":3,"width":0,"height":0,"label":"Aussen-Temp.","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":2160,"y":180,"wires":[[],[]]},{"id":"74064299.165fb4","type":"ui_chart","z":"305e3ee0.52f32a","name":"","group":"e3773acd.2f1908","order":6,"width":0,"height":0,"label":"Motor-Temp.","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":2150,"y":220,"wires":[[],[]]},{"id":"d812c59e.ef7168","type":"ui_chart","z":"305e3ee0.52f32a","name":"","group":"e3773acd.2f1908","order":4,"width":0,"height":0,"label":"Luftfeuchtigkeit","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":2160,"y":260,"wires":[[],[]]},{"id":"cafce347.e6a0a","type":"ui_toast","z":"305e3ee0.52f32a","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"show alerts as popup","x":2180,"y":560,"wires":[]},{"id":"11cd9bf1.032764","type":"ui_dropdown","z":"305e3ee0.52f32a","name":"Ausschalt-Menu","label":"Ausschalt-Menu","place":"","group":"ff97ce36.0ca25","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"Herunterfahren","value":"shutdown","type":"str"},{"label":"Neu starten","value":"reboot","type":"str"}],"payload":"","topic":"","x":80,"y":820,"wires":[["db6de6fe.963128"]]},{"id":"db6de6fe.963128","type":"template","z":"305e3ee0.52f32a","name":"send cmd","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/SRCCP//#<cmd><name>{{payload}}</name></cmd>#/","output":"str","x":240,"y":820,"wires":[["1584008d.d11527"]]},{"id":"cc70416d.e8af6","type":"function","z":"305e3ee0.52f32a","name":"get msg-type","func":"for(var type in msg.payload) {\n    msg.type = type\n}\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":720,"wires":[["261dcfba.f8b6f"]]},{"id":"261dcfba.f8b6f","type":"switch","z":"305e3ee0.52f32a","name":"switch msg / ctlmsg / cmd","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"msg","vt":"str"},{"t":"eq","v":"ctlmsg","vt":"str"},{"t":"eq","v":"cmd","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1270,"y":720,"wires":[["b9339abd.21e02"],["d5f97bed.72506"],[]]},{"id":"af879073.128f3","type":"template","z":"305e3ee0.52f32a","name":"show NACK","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"NACK received: {{cmd}}  \nMessage: {{message}}","output":"str","x":1950,"y":760,"wires":[["6fd4f152.c70958"]]},{"id":"6fd4f152.c70958","type":"debug","z":"305e3ee0.52f32a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2150,"y":740,"wires":[]},{"id":"d5f97bed.72506","type":"switch","z":"305e3ee0.52f32a","name":"switch ACK / NACK","property":"payload.ctlmsg.name","propertyType":"msg","rules":[{"t":"eq","v":"ack","vt":"str"},{"t":"eq","v":"nack","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1490,"y":720,"wires":[["47648dfa.5e58dc"],["4b6298f0.82e29"]]},{"id":"42f3c1b4.5e8728","type":"template","z":"305e3ee0.52f32a","name":"show Alert","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alert received from Sensor \"{{sensor}}\":\n{{message}}","output":"str","x":1950,"y":560,"wires":[["cafce347.e6a0a"]]},{"id":"4b6298f0.82e29","type":"change","z":"305e3ee0.52f32a","name":"","rules":[{"t":"set","p":"message","pt":"msg","to":"payload.ctlmsg.message[0]","tot":"msg"},{"t":"set","p":"cmd","pt":"msg","to":"payload.ctlmsg.type[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1720,"y":760,"wires":[["af879073.128f3"]]},{"id":"28e6368f.aeb9ba","type":"template","z":"305e3ee0.52f32a","name":"show ACK","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ACK received: {{cmd}}  ","output":"str","x":1950,"y":720,"wires":[["6fd4f152.c70958"]]},{"id":"47648dfa.5e58dc","type":"change","z":"305e3ee0.52f32a","name":"","rules":[{"t":"set","p":"cmd","pt":"msg","to":"payload.ctlmsg.type[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1710,"y":720,"wires":[["28e6368f.aeb9ba"]]},{"id":"a748f04b.1bd988","type":"ui_text","z":"305e3ee0.52f32a","group":"e3773acd.2f1908","order":1,"width":0,"height":0,"name":"","label":"Distanz Front","format":"{{msg.payload}} cm","layout":"row-spread","x":2160,"y":60,"wires":[]},{"id":"3f4ec629.bc354a","type":"ui_text","z":"305e3ee0.52f32a","group":"e3773acd.2f1908","order":2,"width":0,"height":0,"name":"","label":"Distanz Heck","format":"{{msg.payload}} cm","layout":"row-spread","x":2150,"y":100,"wires":[]},{"id":"fb0f4d91.aaf99","type":"ui_template","z":"305e3ee0.52f32a","group":"8ffa9a70.129278","name":"Kamera Bild","order":0,"width":"12","height":"9","format":"","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":2330,"y":500,"wires":[[]]},{"id":"771210f5.b66bb","type":"inject","z":"305e3ee0.52f32a","name":"","topic":"","payload":"IP-Address","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"2","x":90,"y":480,"wires":[["4a7e4fc9.d9e158"]]},{"id":"3753db64.85641c","type":"template","z":"305e3ee0.52f32a","name":"","field":"template","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<object type=\"text/html\" data=\"http://{{payload}}/html/min.php\" style=\"width:100%; height:100%\">\n<p>Could not load Camera!</p>\n</object>","output":"str","x":2140,"y":500,"wires":[["fb0f4d91.aaf99","c91c59.cae8eba8"]]},{"id":"c91c59.cae8eba8","type":"debug","z":"305e3ee0.52f32a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"template","x":2540,"y":660,"wires":[]},{"id":"3fd8bf70.c3121","type":"change","z":"305e3ee0.52f32a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.msg.data[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1960,"y":500,"wires":[["3753db64.85641c"]]}]